
@import "tailwindcss";


body{
    /* background-color: black; */
    color: #e6111100;
    /* border: 1px solid red; */
    min-width: 320px;
    margin: auto;
    max-width: 1800px;
}

.header_shadow{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important; 
}


@media (max-width: 380px) {
  .sm-size{
    width: 250px;
  }

  .sm-pos{
    top:22rem;
    right: 1.5rem;
  }
}