
@import "tailwindcss";




body{
    /* background-color: black; */
    color: #e6111100;
    /* border: 1px solid red; */
    min-width: 320px;
    margin: auto;
    max-width: 1800px;
}

.header_shadow{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important; 
}


@media (max-width: 380px) {
  .sm-size{
    width: 250px;
  }

  .sm-pos{
    top:18rem;
    right: 1rem;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  scroll-behavior: smooth;
}